body {
    font-family: 'Lucida Console', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    ;
  }
  
  .resume {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header header"
      "details profile"
      "skills employment"
      "hobbies education "
      "footer footer";
    gap: 20px;
    background-color: #fff;
    padding: 80px;
    margin: 40px auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    max-width: 1024px;
    border-radius: 10px;
  }
  
  header {
    grid-area: header;
    text-align: center;
    text-decoration-line: underline;
    border-style:outset;
    border-width: 6px;
    border-color: green;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 25px;
    font-size: larger;

  }
  
  .details {
    grid-area: details;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border-style: dashed;
  }
  
  .profile {
    grid-area: profile;
    background-color: #e7f1f1;
    padding: 20px;
    border-radius: 5px;
    border-right: green 5px solid;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }
  
  .skills {
    grid-area: skills;
    background-color: #e7f1f1;
    padding: 20px;
    border-radius: 5px;
    border-right: green 5px solid;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }
  
  .employment-history {
    grid-area: employment;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border-right: green 5px solid;
    border-style: dashed;
  }
  
  .hobbies {
    grid-area: hobbies;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border-style: dashed;
  }
  
  .education {
    grid-area: education;
    background-color: #e7f1f1;
    padding: 20px;
    border-radius: 5px;
    border-right: green 5px solid;
       box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }
  footer{ 
    grid-area: footer;
    text-align: center;
  }
  
  .button_slide {
    color: #FFF;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 gainsboro;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px gainsboro;
  }

  h1, h2 {
    color: #333;
  }
